[user]
        name = iWuzhi
        email = 2461358597@qq.com
[core]
        autocrlf = input
        excludesfile = /Users/mengyaohui/.gitignore_global
        editor = vim
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "sourcetree"]
        cmd = /usr/local/bin/bcomp $LOCAL $REMOTE $BASE $MERGED
        trustExitCode = true
[commit]
        template = /Users/mengyaohui/.gitmessage.txt
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[ssh]
        variant = ssh
[http]
[http]
[https]
[http]
[http]
        proxy = socks5://127.0.0.1:7891
[https]
        proxy = socks5://127.0.0.1:7891
[log]
        date = format:%Y-%m-%d %H:%M:%S
[alias]
        ca = commit --amend --no-edit
        s = status
        l = log

